@using EOgrenme.Entities
@model User
@{
    ViewBag.Title = "UserEditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/informations.css" rel="stylesheet" />
<link href="~/Content/validation-summary.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="col-md-1 col-lg-1 col-xs-1 col-sm-1">
    </div>
    <div class="col-md-11 col-lg-11 col-xs-11 col-sm-11">
        <label><t /><t /><h1><b style="color:black">Kişisel Bilgilerini Düzenle ve Kaydet</b></h1></label>
    </div>

</div>

<div class="container">

    <div class="row">
        @using (Html.BeginForm("UserEditProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                <div class="col-md-4">
                    <hr />
                    <img src="~/images/@Model.ProfileImageFileName" class="img-responsive" />
                    @Html.HiddenFor(model => model.ProfileImageFileName)
                    <br /><br />
                    <input type="file" name="ProfileImage" id="ProfileImage" class="form-control" /><br />
                    <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
                    <span><i>Lütfen jpg, jpeg ya da png formatı kullanın.</i></span>
                </div>

                <div class="col-md-5">
                    <hr />
                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <label class="col-md-4 control-label"><span class="glyphicon glyphicon-user"></span> <b style="color:black">AD:</b></label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"><span class="glyphicon glyphicon-user"></span> <b style="color:black">SOYAD:</b></label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"><span class="glyphicon glyphicon-user"></span> <b style="color:black">K. ADI:</b></label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"><span class="glyphicon glyphicon-lock"></span> <b style="color:black">ŞİFRE:</b></label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"><span class="glyphicon glyphicon-envelope"></span> <b style="color:black">E-MAİL:</b></label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"><span class="glyphicon glyphicon-earphone"></span> <b style="color:black">TELEFON NO:</b></label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"><span class="glyphicon glyphicon-time"></span><b style="color:black"> DOĞUM TARİHİ:</b></label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button type="submit" value="Kaydet" class="btn btn-success fa fa-save"><i class="glyphicon glyphicon-floppy-disk"></i>  Kaydet</button>
                            <button onclick="@Url.Action("UserFreezeProfile", "User")" value="Profili Kaldır" class="btn btn-danger fa fa-times"><b style="color:black"> <i class="glyphicon glyphicon-remove"></i>  Profili Kaldır</b></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <hr />
                            <div class="form-group">
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
